! urxvt config

URxvt.scrollBar: false
URxvt.letterSpace:  -1
URxvt.font:xft:UbuntuMono:size=12,xft:UbuntuMonoNerdFontCompleteMono:minspace=False 

URxvt.perl-ext-common: clipboard,default,matcher

! Clipboard

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipbard:copy
URxvt.keysym.M-v: perl:clipbard:paste

! Clickable Urls

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: #4682B4

! Dracula Xresources palette
*.foreground: #F8F8F2
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! Monokai color theme
! *.foreground:   #d1d1d1
! *.color0:       #272822
! *.color8:       #75715e
! *.color1:       #f92672
! *.color9:       #f92672
! *.color2:       #a6e22e
! *.color10:      #a6e22e
! *.color3:       #f4bf75
! *.color11:      #f4bf75
! *.color4:       #66d9ef
! *.color12:      #66d9ef
! *.color5:       #ae81ff
! *.color13:      #ae81ff
! *.color6:       #a1efe4
! *.color14:      #a1efe4
! *.color7:       #f8f8f2
! *.color15:      #f9f8f5

! Molokai theme
! *.background: #101010
! *.foreground: #d0d0d0
! *.cursorColor: #d0d0d0
! *.color0: #101010
! *.color1: #960050
! *.color2: #66aa11
! *.color3: #c47f2c
! *.color4: #30309b
! *.color5: #7e40a5
! *.color6: #3579a8
! *.color7: #9999aa
! *.color8: #303030
! *.color9: #ff0090
! *.color10: #80ff00
! *.color11: #ffba68
! *.color12: #5f5fee
! *.color13: #bb88dd
! *.color14: #4eb4fa
! *.color15: #d0d0d0

! Custom background
*.background: #111115 

! Transparency

URxvt.transparent: true
URxvt.shading: 30
